*{
    margin:0;
    padding:0;
    
}
div {
    display:inline-block;
}
.one {
    width:200px;
    height:50;
    background-color: black;
    position:absolute;
    top: 200px;
    left:35%%;
}
.two{
    width: 400px;
    height:100px;
    background-color: black;
    position:absolute;
    top:300px;
    left:30%;
}
.three{
    width: 800px;
    height:200px;
    background-color: black;
    position:absolute;
    top:400px;
    left:15%;
}


